[general]
run_name = tpuv4_ws_ac_bf16

[architecture_presets]
ArrayHeight:    128
ArrayWidth:     128

; WordSizeBytes: bytes per word (e.g., 1=int8, 2=bf16, 4=fp32)
WordSizeBytes: 2
IfmapSramSzkB:   24576 
FilterSramSzkB:  65536
OfmapSramSzkB:   49152
IfmapOffset:    0
FilterOffset:   10000000
OfmapOffset:    20000000
Bandwidth: 85

; TotalDramBandwidth: total DRAM bandwidth cap (words/cycle)
TotalDramBandwidth: 85
Dataflow : ws_ac
ReadRequestBuffer: 512
WriteRequestBuffer: 512

[layout]
IfmapCustomLayout: False
IfmapSRAMBankBandwidth: 85
IfmapSRAMBankNum: 1
IfmapSRAMBankPort: 1
FilterCustomLayout: False
FilterSRAMBankBandwidth: 85
FilterSRAMBankNum: 1
FilterSRAMBankPort: 1

[sparsity]
SparsitySupport : false
SparseRep : ellpack_block
OptimizedMapping : false
BlockSize : 8
RandomNumberGeneratorSeed : 40

[run_presets]
InterfaceBandwidth: USER
UseRamulatorTrace: False
